 {% extends 'main.twig' %}
 {% block contenthead %}

     <div class="kt-subheader   kt-grid__item" id="kt_subheader">
         <div class="kt-subheader__main">
             <h3 class="kt-subheader__title">
                 Worker Group </h3>
             <span class="kt-subheader__separator kt-hidden"></span>
             <div class="kt-subheader__breadcrumbs">
                 <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                 <span class="kt-subheader__breadcrumbs-separator"></span>
                 <a href="" class="kt-subheader__breadcrumbs-link">
                     Manage Worker Group </a>

             </div>
         </div>

     </div>
 {% endblock %}
{% block body %}

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
                <h3 class="kt-portlet__head-title">
                    Manage Worker Groups
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-download"></i> Export
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__section kt-nav__section--first">
                                        <span class="kt-nav__section-text">Choose an option</span>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-print"></i>
                                            <span class="kt-nav__link-text">Print</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-copy"></i>
                                            <span class="kt-nav__link-text">Copy</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                            <span class="kt-nav__link-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-text-o"></i>
                                            <span class="kt-nav__link-text">CSV</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                            <span class="kt-nav__link-text">PDF</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        &nbsp;
                        <a href="{{ path_for('merchant.add-group') }}" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            New Worker Group
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">

                    <table id='datatable' class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for group in groups %}

                            <tr class="open-{{ group.id }}">
                                <td>{{ group.groupName }}</td>
                                <td>{{ group.description }}</td>
                                <td>{{ group.status }}</td>
                                <td>
                                    <a href="javascript:edit_group('{{ group.groupName }}', '{{ group.description }}', '{{  group.status }}','{{ group.id }}')">
                                        <i class="fa fa-edit"></i></a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            function edit_group(productName, productDesc,payoutAmount, status,id) {


                $('#ModalLabel').html('Edit Worker Group');
                $('#group_name').val(groupName);
                $('#group_description').val(description);
                $('#status').val(status);


                $('.edit_group_modal').modal('show');

                HoldOn.close();


            }

            //edit Group
            $('#submit').click(function () {
                var group_name = $('#group_name').val();
                var group_description = $('#group_description').val();
                var status = $('#status').val();

                if (group_name == '') {
                    toastr.error("Error Occured!!!", 'Group Name Cannot Be Blank');
                    return;
                }
                if (group_description == '') {
                    toastr.error("Error Occured!!!", 'Provide A Group Description');
                    return;
                }

                if (status == '') {
                    toastr.error("Error Occured!!!", 'Set The Group Status');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '{{ path_for('merchant.save-group') }}',
                    data: {
                        group_name: group_name,
                        group_description: group_description,
                        status: status,
                    }
                })
                    .success(function (data) {
                        window.setTimeout(function(){
                            window.location.href='/merchant/manage-groups';
                        }, 3000);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(errorThrown));
                    });
            });
        });
    </script>

{% endblock %}
