{% extends 'main.twig' %}
 {% block contenthead %}

     <div class="kt-subheader   kt-grid__item" id="kt_subheader">
         <div class="kt-subheader__main">
             <h3 class="kt-subheader__title">
                 Products </h3>
             <span class="kt-subheader__separator kt-hidden"></span>
             <div class="kt-subheader__breadcrumbs">
                 <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                 <span class="kt-subheader__breadcrumbs-separator"></span>
                 <a href="" class="kt-subheader__breadcrumbs-link">
                     Add Product </a>

             </div>
         </div>

     </div>
 {% endblock %}
{% block body %}

{% include 'products/edit-product.twig' %}

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
            <h3 class="kt-portlet__head-title">
                Manage Products
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-download"></i> Export
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="kt-nav">
                                <li class="kt-nav__section kt-nav__section--first">
                                    <span class="kt-nav__section-text">Choose an option</span>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon la la-print"></i>
                                        <span class="kt-nav__link-text">Print</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon la la-copy"></i>
                                        <span class="kt-nav__link-text">Copy</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                        <span class="kt-nav__link-text">Excel</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon la la-file-text-o"></i>
                                        <span class="kt-nav__link-text">CSV</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                        <span class="kt-nav__link-text">PDF</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    &nbsp;
                    <a href="{{ path_for('merchant.add-product') }}" class="btn btn-brand btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i>
                        New Product
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">

                    <table id='datatable' class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for product in products %}

                            <tr class="open-{{ product.id }}">
                                <td>{{ product.productName }}</td>
                                <td>{{ product.productDesc }}</td>
                                <td>{{ product.status }}</td>
                                <td>
                                    <a href="javascript:edit_product('{{ product.productName }}', '{{ product.productDesc }}', '{{ product.status }}','{{ product.id }}')">
                                        <i class="fa fa-edit"></i></a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
    </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {



            //edit Product
            $('#update_product').click(function () {
                var product_name = $('#product_name').val();
                var product_description = $('#product_description').val();
                var product_status = $('#product_status').val();
                var product_id = $('#product_id').val();

                if (product_name == '') {
                    toastr.error("Error Occured!!!", 'Product Name Cannot Be Blank');
                    return;
                }
                if (product_description == '') {
                    toastr.error("Error Occured!!!", 'Provide A Product Description');
                    return;
                }


                $.ajax({
                    type: 'POST',
                    url: '{{ path_for('merchant.update-product') }}',
                    data: {
                        product_name: product_name,
                        product_description: product_description,
                        product_status:product_status,
                        product_id:product_id
                    }
                })
                    .success(function (data) {
                        setTimeout(function () {
                            $('.edit_product_modal').modal('hide');

                        }, 1000)
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(errorThrown));
                    });
            });


        });

        function edit_product(productName,productDesc,status,id) {


            $('#ModalLabel').html('Edit Product');
            $('#product_name').val(productName);
            $('#product_description').val(productDesc);
            $('#product_status').val( status);
            $('#product_id').val(id);

            $('.edit_product_modal').modal('show');

            HoldOn.close();


        }

    </script>

{% endblock %}

