{% extends 'main.twig' %}
{% block sidebar %}
    {% include 'partials/staff-siderbar.twig' %}
{% endblock %}
 {% block contenthead %}

     <div class="kt-subheader   kt-grid__item" id="kt_subheader">
         <div class="kt-subheader__main">
             <h3 class="kt-subheader__title">
                 Valuations </h3>
             <span class="kt-subheader__separator kt-hidden"></span>
             <div class="kt-subheader__breadcrumbs">
                 <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                 <span class="kt-subheader__breadcrumbs-separator"></span>
                 <a href="" class="kt-subheader__breadcrumbs-link">
                     Request Valuation </a>

             </div>
         </div>

     </div>
 {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Request Valuation
                        </h3>
                    </div>
                </div>
                <form action="{{ path_for('staff.save-request') }}"  method="post" class="kt-form" enctype="multipart/form-data">
                    <div class=" kt-portlet__body">
                        <div class="kt-section">
                            <div class="form-group">
                                <label>Client Name:</label>

                                <input type="text" id="client_name" name="client_name" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label>Client Phone Number:</label>

                                <input type="text" id="client_phone" name="client_phone" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label>Vehicle Registration No:</label>

                                <input type="text" id="vehicle_reg" name="vehicle_reg" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label>Vehicle Make:</label>

                                <input type="text" id="vehicle_make" name="vehicle_make" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label>Vehicle Model:</label>

                                <input type="text" id="vehicle_model" name="vehicle_model" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label>Valuer:</label>

                                <select  id="valuer" name="valuer" class="form-control">
                                    <option value="">Choose Valuer</option>
                                    {% for valuer in valuers %}

                                        <option value="{{ valuer.id }}"> {{ valuer.valuerName }} </option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="form-group">
                                <label>Attach Logbook:</label>

                                <input type="file" id="logbook" name="logbook" class="form-control"/>

                            </div>

                            <div class="form-group">
                                <label>Additional Comments:</label>

                                <textarea id="comments" name="comments" class="form-control">
                                </textarea>

                            </div>

                        </div>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-7">
                                    <a href="{{ path_for('staff.manage-requests') }}" type="button" id="btn_cancel" class="btn btn-primary">Cancel</a>
                                    <!--<button type="button" id="btn_save" class="btn btn-success">Make Request</button>-->

                                    <input type="submit"  class="btn btn-success" value="Make Request" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>


            </div>

            <!--end::Portlet-->
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function() {


            $('#btn_save').click(function () {

                var client_name = $('#client_name').val();
                var client_phone=$('#client_phone').val();
                var vehicle_reg=$('#vehicle_reg').val();
                var vehicle_make=$('#vehicle_make').val();
                var vehicle_model=$('#vehicle_model').val();
                var valuer=$('#valuer').val();
                var logbook=$('#logbook').val();
                var comments=$('#comments').val();



                if (client_name == '') {
                    toastr.error("Error Occured!!!", 'You Must Provide The Client Name');
                    return;
                }

                if (client_phone == '') {
                    toastr.error("Error Occured!!!", 'You Must Provide The Client Name');
                    return;
                }
                if (vehicle_reg == '') {
                    toastr.error("Error Occured!!!", 'You have not provided the vehicle registration number');
                    return;
                }
                if (vehicle_make == '') {
                    toastr.error("Error Occured!!!", 'You must state the vehicle make');
                    return;
                }
                if (vehicle_model == '') {
                    toastr.error("Error Occured!!!", 'You must state the vehicle model');
                    return;
                }
                if (valuer == '') {
                    toastr.error("Error Occured!!!", 'You must specify a Valuer*');
                    return;
                }
                if (logbook == '') {
                    toastr.error("Error Occured!!!", 'Kindly attach the vehicle logbook');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '{{ path_for('staff.save-request') }}',
                    data: {
                        client_name: client_name,
                        client_phone: client_phone,
                        vehicle_reg:vehicle_reg,
                        vehicle_model:vehicle_model,
                        vehicle_make:vehicle_make,
                        valuer:valuer,
                        logbook:logbook,
                        comments:comments

                    }
                })
                    .success(function (data) {
                        toastr.success("Success", 'Your valuation request has been sent to the valuer');

                        window.setTimeout(function(){
                            window.location.href='/staff/manage-requests';
                        }, 3000);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(errorThrown));
                    });
            });


        });
    </script>
{% endblock %}