{% extends 'main.twig' %}
 {% block contenthead %}

     <div class="kt-subheader   kt-grid__item" id="kt_subheader">
         <div class="kt-subheader__main">
             <h3 class="kt-subheader__title">
                 Payments </h3>
             <span class="kt-subheader__separator kt-hidden"></span>
             <div class="kt-subheader__breadcrumbs">
                 <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                 <span class="kt-subheader__breadcrumbs-separator"></span>
                 <a href="" class="kt-subheader__breadcrumbs-link">
                     Initiate Payment </a>
                 <span class="kt-subheader__breadcrumbs-separator"></span>
                 <a href="" class="kt-subheader__breadcrumbs-link">
                     Pay Worker Group </a>
             </div>
         </div>

     </div>
 {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Pay Worker Group
                        </h3>
                    </div>
                </div>
                <form class="kt-form">
                    <div class=" kt-portlet__body">
                        <div class="kt-section">
                            <div class="form-group">
                                <label>Product:</label>

                                <select  id="product" name="product" class="form-control">
                                    <option value="">Choose Product</option>
                                    {% for product in products %}

                                        <option value="{{ product.id }}"> {{ product.productName }} </option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Worker Group:</label>

                                <select  id="group" name="group" class="form-control">
                                    <option value="">Choose Worker Group</option>
                                    {% for group in groups %}

                                        <option value="{{ group.id }}"> {{ group.groupName }} </option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Total No of Workers:</label>

                                <input type="text" id="total_workers" name="total_workers" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label>Amount To Pay(Per Worker):</label>

                                <input type="text" id="worker_amount" name="worker_amount" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label>Total Transaction Cost:</label>

                                <input type="text" id="transaction_cost" name="transaction_cost" class="form-control"/>

                            </div>

                            <div class="form-group">
                                <label>Total Payout:</label>

                                <input type="text" id="total_payouts" name="total_payouts" class="form-control"/>

                            </div>


                            <div class="form-group">
                                <label>Comments:</label>

                                <textarea id="comments" name="comments" class="form-control">
                                </textarea>

                            </div>

                        </div>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-7">
                                    <a href="{{ path_for('merchant.initiate-payment') }}" type="button" id="btn_cancel" class="btn btn-primary">Cancel</a>
                                    <button type="button" id="btn_save" class="btn btn-success">Make Payment</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>


            </div>

            <!--end::Portlet-->
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function() {


            $('#btn_save').click(function () {

                var group = $('#group').val();
                var product=$('#product').val();
                var total_workers=$('#total_workers').val();
                var worker_amount=$('#worker_amount').val();
                var transaction_cost=$('#transaction_cost').val();
                var total_payouts=$('#total_payouts').val();
                var comments=$('#comments').val();



                if (group == '') {
                    toastr.error("Error Occured!!!", 'You Must Select A Worker Group');
                    return;
                }

                if (product == '') {
                    toastr.error("Error Occured!!!", 'Please choose the product to be paid');
                    return;
                }
                if (worker_amount == '') {
                    toastr.error("Error Occured!!!", 'You have not provided the amount to be paid');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '{{ path_for('merchant.pay-workgroup') }}',
                    data: {
                        group: group,
                        total_workers:total_workers,
                        product:product,
                        worker_amount:worker_amount,
                        transaction_cost:transaction_cost,
                        total_payouts:total_payouts,
                        comments:comments

                    }
                })
                    .success(function (data) {
                        toastr.success("Success", 'Payment has been initiated successfully and is awaiting approval');

                        window.setTimeout(function(){
                            window.location.href='/merchant/';
                        }, 3000);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(errorThrown));
                    });
            });



            $(document).on('change', '#product', function () {

                //Get Product Payout
                var product = $("select[name='product']").val();
                $('#worker_amount').val('5000');
                $.ajax({

                    cache: false,
                    type: 'post',
                    url   : '{{ path_for('merchant.product-payout') }}',
                    data  : {'product':product},

                    success: function (data)
                    {


                    },
                })

            });

            $(document).on('change', '#group', function () {
                //Get No Of Workers
                $('#total_workers').val('5');

                $amount=$('#worker_amount').val();
                $workers=$('#total_workers').val();

                $total=$amount*$workers;

                $('#total_payouts').val($total);

            });

        });
    </script>
{% endblock %}